<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skedou</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="app">
        <div class="container-fundo">
        </div>
        <div class="fundoLadoD">
            <div class="login">
                <label for="nome">Login</label>
                <input type="text" name="nome" id="nome">
                <label for="senha">Senha</label>
                <input type="text" name="senha" id="senha">
                <input type="button" value="Entrar">
            </div>
        </div>
    </div>

</body>

</html>