<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skedou</title>
    <link rel="stylesheet" href="../style/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="app">
        <div class="container-fundo">
            <img src="../../images/Logo.png" class="branding-image" alt="Imagem de fundo decorativa">
            <h1>SKEDOU</h1>
            <span class="detalhe"></span>
        </div>
        <div class="fundoLadoD">
            <div class="login">
                <label for="nome">Login</label>
                <input type="text" name="nome" id="nome">
                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha">
                <input type="button" value="Entrar">

            </div>
        </div>
    </div>
    <span class="linha1"></span>
</body>

</html>