<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
</head>
<body>
    <label for="cliInput">Nome do cliente</label><br><br>
    <input type="text" name="cliInput" id="cliInput"><br><br>
    <label for="usrInput">Usuário do cliente</label><br><br>
    <input type="number" name="usrInput" id="usrInput"><br><br>
    <button id="send" onclick="post(cliInput.value, usrInput.value)">Post</button>
    <script>
        async function post(nom, usr) {
        try{
           await fetch("http://localhost:3000/cli", {
            method: "POST",
            headers: {
            "Content-Type": "application/json"
            }, 
            body: JSON.stringify(
                {
                    cli_nom: nom,
                    cli_usr: usr
                })
            })
            alert('Cliente inclido com sucesso')
        }catch(erro){
            alert('Erro ao incluir cliente: ' + erro)
        }
        }
    </script>
</body>
</html>