<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TesteTorma</title>
  <link rel="stylesheet" href="../style/Torma.css">
</head>

<body>


  <table id="myTable">
    <thead>
      <tr>
        <th>Data do Ultimo Agendamento</th>
        <th>Nome do Cliente</th>
        <th>Quantidade de Serviços</th>
        <th>Valor Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

    </tbody>
  </table>
  </div>
</body>

</html>