<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TesteTorma</title>
  <script>
    async function coletarDados() {
      const resposta = await fetch("http://localhost:3000/cli"); //pega as informações da api
      const dados = await resposta.json(); //tranforma as informações em json
      const tbody = document.getElementById("clientes-tbody"); //pega o tbody do html
      tbody.innerHTML = ""; // limpa o tbody do html

      dados.forEach((element) => {
        const tr = document.createElement("tr"); //cria uma row para cada elemento do json
        tr.innerHTML = `
          <td>${element.cli_nom}</td>
          <td>${element.cli_cod}</td>
          <td>${element.cli_usr}</td>
        `;//insere nas células do row as informações do json
        tbody.appendChild(tr); //adiciona a row na tabela
      });
    }
    coletarDados();//executa a função
  </script>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 4px;
    }
  </style>
</head>

<body id="body1">
  <table>
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Código</th>
        <th>Usuário</th>
      </tr>
    </thead>
    <tbody id="clientes-tbody">
    </tbody>
  </table>
</body>

</html>